.env
node_modules/
uploads/
dist/
server/venv/
server/venv/Lib/site-packages/
server/venv/Scripts/

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log* 
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
verify_table.py
