@import '../styles/theme.css';
@import '../styles/animations.css';

@import '../styles/components/cards.css';
@import '../styles/components/buttons.css';
@import '../styles/components/forms.css';
@import '../styles/components/model.css';

@tailwind base;
@tailwind components;
@tailwind utilities;